
process {
    withName: makeQCCSV {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: bamToCram {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: makeMeta {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: renameFasta {
        conda = "$baseDir/environments/extras.yml"
    }
     withName: get_barcodes {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: nextclade_process {
        conda = "$baseDir/environments/nextclade.yml"
    }
    withName: process_csv {
        conda = "$baseDir/environments/extras.yml"
    }
}

