// REDCap specific params

params{
    // Data Access Group, used only with superuser account
    redcap_dag = 'ritm'

    // Repeat instance
    redcap_instance = 1

    // URL
    redcap_url = 'https://geco.ritm-edc.net/redcap/api/'

    // API token. Use separate tokens for each DAG's nf automation.
    redcap_token = 'INSERT_TOKEN_HERE'
}
