// REDCap specific params

params{
    // Data Access Group, used only with superuser account
    redcap_dag = 'ritm'

    // Repeat instance
    redcap_instance = 1

    // URL
    redcap_url = 'http://192.168.20.33/redcap/api/'

    // API token. Use separate tokens for each DAG's nf automation.
    redcap_token = 'CA7768C863D7E1A5791BC222E92C3A0C'

    // Boilerplate to keep nextflow happy about undefined vars
    redcap_local_ids = false

    //GISAID Authors List
    gisaid_authors = 'Francisco Gerardo M. Polotan, Gerald Ivan S. Sotelo, Ardiane Ysabelle M. Dolor, Anne Pauline A. Alpino, Jefferson Earl J. Halog, Othoniel Jan T. Onza, Ma. Angelica A. Tujan, Amalea Dulcene D. Nicolasora, Joy Mariette L. Parayray, Criselda T. Bautista, Vina Lea F. Arguelles, Alexander Sadiasa, Catalino S. Demetria, Dodge R. Lim, Angela Kae T. Chang, Ma. Ricci R. Gomez, Claudette Lee S. Navarro, Charalyn Babida, Lei Lanna M. Dancel, Mayan Uy-Lumandas, Timothy John R. Dizon, Kirstyn Brunker, Katie Hampson, Yao-Tsun Li, Simon Daldry, Joseph Hughes'

    //Assembly method
    assembly_method = 'ncov2019-artic-nf, artic 1.2.1, minimap2 2.17, nanopolish 0.13.2'
}
